.completed-section {
    display: flex;
    flex-direction: column;
}

.completed-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
}

.completed-container th, td {
    border: 1px solid black;
    padding: 8px;
}

.completed-container li {
    display: table-row;
}

#button-section{
    margin-top: 50px;
    text-align: center;
}

.booking-button{
    margin: auto;
}

.delete-button {
    background-color: rgb(169, 218, 96);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.8rem;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(191, 247, 108);
    color: white;
}

.delete-button:active {
    transform: translateY(2px);
}

